@mixin d-flex($a, $j, $d: row) {
	display: flex;
	align-items: $a;
	justify-content: $j;
	flex-direction: $d;
}

@mixin button($w, $h) {
	width: $w;
	height: $h;
	margin: 0.5rem 0;
	background: $nord0;
	border: none;
	border-radius: 4px;
	color: $light;
	font: $font-medium 0.9rem $font-family;
	cursor: pointer;
	transition: ease-in-out 0.3s;
	box-shadow: 0 0 14px $box-shadow;

	&:hover {
		opacity: 0.7;
	}
}

@mixin input {
	height: 40px;
	background: $nord3;
	border-radius: 4px;
	box-shadow: 0 0 14px $box-shadow;
	padding: 0 1rem;
	color: rgb(173, 173, 173);
	border: none;
	border: 1px solid rgb(118, 118, 118);
	color: $light;

	&:focus {
		outline: none;
	}

	&::placeholder {
		color: rgb(173, 173, 173);
	}
}

@mixin label {
	color: $light;
	font: $font-medium 1rem $font-family;
	margin-bottom: 0.3rem;
}

@mixin container {
	@media (min-width: 300px) {
		width: 100%;
	}

	@media (min-width: 576px) {
		width: 540px;
	}

	@media (min-width: 768px) {
		width: 720px;
	}

	@media (min-width: 992px) {
		width: 960px;
	}

	@media (min-width: 1200px) {
		width: 1140px;
	}
}
